---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'https://fonts.googleapis.com/css?family=Playfair+Display:700';

$line: 1.111111111vw;
$line-min: 10.25px;

$font-body: 1.319444444vw;
$font-body-min: 13.5px;
$font-label: 0.8333333333vw;
$font-label-min: 10px;
$font-title: 4.583333333vw;
$font-title-min: 47px;
$font-post-title: 2.361111111vw;
$font-post-title-min: 24px;
$font-subtitle: 1.944444444vw;
$font-subtitle-min: 19.9px;

$post-padding: 23.33333333vw;
$post-padding-min: 12.29166667vw;


html, body {
  font-family: helvetica, arial, sans-serif;
  font-size: $font-body;
  line-spacing: 32px;
  font-family: DINNextLTPro-Light;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
}


body {
  overflow-x: hidden;
}

p {
  line-height: $line * 2;
  margin-bottom: $line * 2;
}

a {
  text-decoration: none;
  transition: color 0.15s;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: $font-title;
  line-height: $line * 5;
  margin-bottom: $line * 5;
  letter-spacing: 0.01em;
  margin-top: 0;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: $font-post-title;
  line-height: $line * 3;
  margin-bottom: $line * 2;
  letter-spacing: 0.015em;
}


.cta {
  display: inline-block;
  height: $line * 2;
  padding: 0 $line;
  font-weight: bold;
  font-size: $font-label;
  text-transform: uppercase;
  height: auto;
  border-radius: $line;
  cursor: pointer;
  transition: background-color 0.15s;
  transition: color 0.15s;
}

  .cta span {
    display: block;
    height: auto;
    line-height: $line * 2;
  }

  .cta:hover {
  }

#introduction-wrapper {
  padding: 4.444444444vw;
  width: 90.9vw;
  padding-bottom: 1px;
}

  #introduction-wrapper #logo-container {
    width: 5.555555556vw;
    height: 5.555555556vw;
    border: 1px solid black;
    margin-bottom: $line * 4;
  }

    #introduction-wrapper #logo-container #logo {
      width: 5.555555556vw;
      height: 5.555555556vw;
      background-color: white;
      border-radius: 100%;

    }

  #introduction {
    text-align: center;
    width: 60vw;
    margin: auto;
  }

    #project-nav{
      position: relative;
    }

    #project-nav .nav-button{
      width: $line * 2;      
      height: $line * 2;  
      border-radius: $line;    
      position: relative;
      cursor: pointer;
      transition: background-color 0.15s;
      margin-top: $line * 2;
    }

      #project-nav .nav-button:hover{
      }

      #project-nav .nav-button span{
        display: block;
        width: 0; 
        height: 0; 
        position: absolute;
        top: 30%;
      }

        #project-nav #nav-previous{
          float: left;
          margin-left: $line;
        }

        #project-nav #nav-next{
          float: right;
          margin-right: $line;
        }

        #project-nav #nav-previous span{
          border-top: $line / 2.5 solid transparent;
          border-bottom: $line / 2.5 solid transparent; 
          border-right: $line / 1.8 solid;
          transition: border-right-color 0.15s; 
          left: 31%;
        }

          #project-nav #nav-previous:hover span{
          }

        #project-nav #nav-next span{
          border-top: $line / 2.5 solid transparent;
          border-bottom: $line / 2.5 solid transparent; 
          border-left: $line / 1.8 solid;
          transition: border-right-color 0.15s; 
          left: 41%;
        }

          #project-nav #nav-next:hover span{
          }

    #introduction #project-title{}

    #introduction #project-subtitle{
      font-size: $font-subtitle;
      margin-bottom: 0;
      line-height: $line * 3;
    }

    #introduction #project-tags{
      font-family: DINNextLTPro-Regular;
      font-size: $font-label;
      text-transform: uppercase;
      margin-bottom: $line / 2;
    }

      #introduction #project-tags span {
        font-style: italic;
      }

      #introduction #project-tags a {
        transition: color 0.15s;
      }

      #introduction #project-tags a:hover {
      }

    #introduction #project-links .cta:first-child {
      margin-right: $line /  2;
    }

    #introduction-wrapper #project-carousel-wrapper {
      margin-top: 4 * $line;
      height: (91.11111111vh/2);
      max-height: ((91.11111111vw / 1.5)/2);
    }

    #project-carousel-bumper {
      width: 100%;
      height: (91.11111111vh/2);
      max-height: ((91.11111111vw / 1.5)/2);
    }

      #introduction-wrapper #project-carousel {
        width: 91.11111111vw;
        height: 91.11111111vh;
        max-height: (91.11111111vw / 1.5);
        margin-bottom: (- 91.11111111vh / 2);
        position: absolute;
        cursor: pointer;
      }

          @keyframes fade-in {
            0%   {
              left: calc(50% + 75px);
              opacity: 0;
            }
            100% {
              left: 50%;
              opacity: 1;
            }
          }

          @keyframes fade-out {
            0%   {
              left: 50%;
              opacity: 1;
            }
            100% {
              left: calc(50% - 35px);
              opacity: 0;
            }
          }

          div.item.fade-in img, div.item.fade-in div.header {
            opacity: 1;
            z-index: 10;
            animation-name: fade-in;
            animation-duration: 0.4s;
          }

          div.item.fade-out img, div.item.fade-out div.header {
            opacity: 0;
            z-index: 0;
            animation-name: fade-out;
            animation-duration: 0.2s;
          }

          div.item.hidden img, div.item.hidden div.header {
            opacity: 0;
            z-index: 0;
          }
       
          #introduction-wrapper #project-carousel div.item img{
            display: block;
            position: absolute;
            transform: translate(-50%, calc(-50% + #{$line}));
            top: 50%;
            left: 50%;
            max-width: 100%;
            max-height: 100%;
          }

          #introduction-wrapper #project-carousel div.item div.header{
            display: block;
            position: absolute;
            left: 50%;
            height: $line * 2;
            border-top-right-radius: $line;
            border-top-left-radius: $line;
          }

            #introduction-wrapper #project-carousel div.item div.header div.circle {
              display: inline-block;
              width: $line / 1.5;
              height: $line / 1.5;
              border-radius: $line;
              margin-top: $line / 1.5;
              margin-left: $line / 1.5;
            }


  ul.post-list {
    padding: 4.444444444vw;
  }

    li.post {
      margin-bottom: $line * 6;
    }

      li.post h2.post-title {
        padding: 0 $post-padding;
      }

      li.post div.post-meta {
        padding: 0 $post-padding;
        display: flex;
        align-items: flex-end;
        margin-bottom: $line * 5;
        font-family: DINNextLTPro-Regular;
        font-size: $font-label;
        text-transform: uppercase;
      }

        li.post div.post-meta div.post-date {
          margin-right: $line;
        }

        li.post div.post-meta div.post-meta-separator {
          flex-grow: 1;
          align-self: flex-end;
          margin-bottom: 2px;
        }

      li.post div.post-content p {
        padding: 0 $post-padding;
        margin-top: 0;
      }

      li.post div.media {
        display: block;
        width: 60vw;
        margin: auto;
        margin-bottom: $line * 4;
      }

        li.post div.media.full {
          width: 100%;
        }

        div.column-2, li.post div.column-3, li.post div.column-4, li.post div.column-5 {
          display: flex;
        }

        div.column-2 div.image, li.post div.column-3 div.image, li.post div.column-4 div.image, li.post div.column-5 div.image {
          margin: 0.5px;
        }

      li.post div.media:not(:first-child) {
        margin-top: $line * 5;
      }

        li.post div.media div.image {
          display: block;    
          width: 100%;
        }

          li.post div.media div.image img {
            display: block;
            width: 100%;
            transition: opacity 0.3s;
            opacity: 0;
          }

        li.post div.media.full img {
          width: 100%;
        }

        li.post div.media table img {
          width: 100%;
        }

        li.post div.media p.label {
          text-align: center;
          font-family: DINNextLTPro-Regular;
          font-size: $font-label;
          text-transform: uppercase;
          margin-top: $line;
        }


/* MOBILE */


@media (max-width: 1024px) {

  html, body {
    font-size: $font-body-min;
  }

  p {
    line-height: $line-min * 2;
    margin-bottom: $line-min * 2;
  }

  h1 {
    line-height: $line-min * 5;
    margin-bottom: $line-min * 5;
    font-size: $font-title-min;
  }

  h2 {
    line-height: $line-min * 2;
    margin-bottom: $line-min * 2;
    font-size: $font-post-title-min;
  }


  .cta {
    height: $line-min * 2;
    padding: 0 $line-min;
    border-radius: $line-min;
    font-size: $font-label-min;
  }

    .cta span {
      line-height: $line-min * 2;
    }

      #project-nav .nav-button{
        width: $line-min * 2;      
        height: $line-min * 2;  
        border-radius: $line-min;    
        margin-top: $line-min * 2;
      }

          #project-nav #nav-previous{
            margin-left: $line-min;
          }

          #project-nav #nav-next{
            margin-right: $line-min;
          }

          #project-nav #nav-previous span{
            border-top: $line-min / 2.5 solid transparent;
            border-bottom: $line-min / 2.5 solid transparent; 
            border-right: $line-min / 1.8 solid;
          }

          #project-nav #nav-next span{
            border-top: $line-min / 2.5 solid transparent;
            border-bottom: $line-min / 2.5 solid transparent; 
            border-left: $line-min / 1.8 solid;
          }

    #introduction {
      width: 100%;
    }

      #introduction #project-subtitle{
        margin-bottom: $line-min * 4;
        line-height: $line-min * 3;
        font-size: $font-subtitle-min;
      }

      #introduction #project-tags{
        margin-bottom: $line-min / 2;
        font-size: $font-label-min;
      }

      #introduction #project-links .cta:first-child {
        margin-right: $line-min /  2;
      }

      #introduction-wrapper #project-carousel-wrapper {
        margin-top: 4 * $line-min;
      }

            #introduction-wrapper #project-carousel div.item img{
              transform: translate(-50%, calc(-50% + #{$line-min}));
            }

            #introduction-wrapper #project-carousel div.item div.header{
              height: $line-min * 2;
              border-top-right-radius: $line-min;
              border-top-left-radius: $line-min;
            }

              #introduction-wrapper #project-carousel div.item div.header div.circle {
                width: $line-min / 1.5;
                height: $line-min / 1.5;
                border-radius: $line-min;
                margin-top: $line-min / 1.5;
                margin-left: $line-min / 1.5;
              }

      li.post {
        margin-bottom: $line-min * 6;
      }

        li.post h2.post-title {
          padding: 0 $post-padding-min;
        }

        li.post div.post-meta {
          margin-bottom: $line-min * 5;
          font-size: $font-label-min;
          padding: 0 $post-padding-min;
        }

          li.post div.post-meta div.post-date {
            margin-right: $line-min;
          }

        li.post div.post-content p {
          padding: 0 $post-padding-min;
        }

        li.post div.media {
          margin-bottom: $line-min * 4;
        }

        li.post div.media:not(:first-child) {
          margin-top: $line-min * 5;
        }

          li.post div.media div.image {
            width: 100%;
          }

          li.post div.media p.label {
            margin-top: $line-min;
            font-size: $font-label-min;
          }
}


