---
---

$line-width: 1.25vw;
$line-height: 18px;

$font-body: 16px;
$font-headline: 26px;

$black: #000000;
$dark-gray: #444444;
$gray: #848484;
$light-gray: #AAAAAA;
$white: #ffffff;


html, body {
  font-size: $font-body;
  line-height: $line-height * 1.5;
  font-family: DINNextLTPro-Light, helvetica, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: $black;
  color: $white;
  word-break: break-word;
}


body {
  overflow-x: hidden;
}

p {
  margin-top: 0;
  margin-bottom: $line-height * 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: $font-headline;
  line-height: $line-height * 2;
  margin: 0;
  font-weight: normal;
}

h2 {
  font-size: $font-headline;
  line-height: $line-height * 2;
  margin: 0;
  font-weight: normal;
}

h3 {
  font-size: $font-headline;
  line-height: $line-height * 2;
  margin: 0;
  font-weight: normal;
  color: $dark-gray;
}

table {
  border: 1px solid transparent;
}

th {
  border: none;
}

td {
  border: 1px solid transparent;
}

.body {
  padding: $line-height * 2 $line-width * 2;
}

.about {
  display: flex;
  border-bottom: 1px solid $dark-gray;
  padding-bottom: $line-height * 2;

  &_title {
    flex-basis: $line-width * 12;
    margin-right: $line-width * 4;
  }

  &_bio {
    flex-basis: $line-width * 20;
  }
}

.projects {

  &_project {
    display: flex;
    padding: $line-height * 2 0;
    border-bottom: 1px solid $dark-gray;
    transition: opacity 0.3s;

    &_title {
      flex-basis: $line-width * 12;
      margin-right: $line-width * 4;
    }

    &_subtitle {
      flex-basis: $line-width * 20;
      margin-right: $line-width * 4;
    }

    &_image {
      flex-basis: $line-width * 36;

      & img {
        display: block;
        width: 100%;
        transition: filter 0.3s;
      }
    }

    &.inactive {
      opacity: 0.5;
      
      & img {
        filter: grayscale(100%);
      }
    }
  }
}







